/* СТИЛИ index.php */
.search-form {
	text-align: center;
	margin-top: 5%;
}
.search-form input {
	margin-top: 2%;
}

.search-form button {
	margin-top: 2%;
}

.table {
	width: 80%;
	margin: 2% auto;
	border: solid 2px #e9ecef;
}

.search-client {
	text-align: center;
}

/* СТИЛИ ПОИСКА */
.poisk-naideno {
	background: red;
}

.hideText {
	display: none;
}